nav {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    padding: 0px;
    padding-left: 10px;
}


li {
    background-color: blue;
    width: 140px;
    color: white;
    text-align: center;
    margin: 0%;
    border-radius: 15px;
    margin-bottom: 2px;
}

li:hover {
    background-color: rgb(147, 147, 251);
    color: white;
    cursor: pointer;
}

#livro,
#revista {
    display: none;
}

#cadastro, #cadLivros, #cadRevistas {
    display:none;
}

